[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-storages = "*"
boto3 = "*"
psycopg2 = "==2.9.3"
whitenoise = "*"
gunicorn = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
